.centered {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    padding-left: 2em;
    padding-right: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .welcome, .story, .quality {
      margin-left: auto;
      margin-right: auto;
      width: 40em;
      text-align: center;
    }
  